[submodule "extensions/python-lsp-klyx"]
	path = extensions/python-lsp-klyx
	url = https://github.com/itsvks19/python-lsp-klyx
[submodule "extensions/cpp-lsp"]
	path = extensions/cpp-lsp
	url = https://github.com/itsvks19/cpp-lsp-klyx
[submodule "extensions/rust"]
	path = extensions/rust
	url = https://github.com/itsvks19/rust-lsp-klyx
